body {
  margin: 0;
  background-color: white;
}

header {
  font-family: courier new;
  /* font-weight: bold; */
  color: white;
  background-color: rgb(102,51,0);
  width: 100%;
  position: auto;
  z-index: 10;
  margin: 0px;
  padding: 0px;
}

nav {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: inline;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0;
}

li a:hover {
  background-color: black;
}

header a {
  margin: 0;
  padding: 15px;
  float: left;
}

#aa {
  float: left;
  margin: 0;
}

.jumbotron {
  color: white;
  text-align: center;
  background-image: url("skyline.jpg");
  background-size: cover;
  height: 700px;
}

/* .jumbotron h1 {
  font-family: impact;
  position: relative;
  top: 40px;
  padding: 0;
  margin: 0;
  font-weight: 900;
  border: 3px solid red;
} */

.jumbotron img {
  font-family: arial;
  position: relative;
  top: 40px;
  /* left: 1%; */
  /* width: 500px; */
  margin: 0 auto;
  /* border: 3px solid red; */
  /* padding: 0; */
  /* text-transform: uppercase; */
}

h2 {
  font-family: courier new;
  margin: 0px auto 0px auto;
  padding: 40px 0px 20px 0px;
  font-size: 32px;
}

h3 {
  text-transform: uppercase;
  font-family: impact, courier new;
  font-size: 32px;
}

#bars {
  text-align: center;
  background-image: url("paper.png");
}

#breweries {
  text-align: center;
  background-image: url("husk.png");
  /* background-color: rgb(230, 220, 220); */
}

#distilleries {
  text-align: center;
  background-image: url("paper.png");
}

.pictures {
  display: inline-block;
  margin: 20px;
  border: 3px solid black;
  text-align: center;
  padding: 0;
  position: relative;
  vertical-align: top;
}

.pictures img {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.overlay:hover {
  opacity: 0.70;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text p {
  font-family: courier new;
}



img {
  vertical-align: top;
}

/* ABOUT CSS */

body {
  background-image: url("paper.png");
}

.aboutheader {
  text-align: center;
  font-family: courier new;
}

.aboutbody p{
  text-align: center;
  font-family: arial;
  line-height: 32px;
  margin: 5px 50px;
  padding: 5px 0px;
}

.parbreak {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
